/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/reaptec -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
//    max_cpus   = 2
//    max_memory = 6.GB
    max_time   = 6.h

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input            = './data/samplesheet_test.csv'
    barcodes         = '/storage/home/rbonnal/projects/ReapTEC_PaganiLab/TestFiles/filtered_feature_bc_matrix/barcodes.tsv.gz'
    ref_chrom        = '/storage/home/rbonnal/projects/ReapTEC_PaganiLab/Ref/GRCh38.p13.genome.chrom.sizes'
    ref_pro1         = '/storage/home/rbonnal/projects/ReapTEC_PaganiLab/Ref/homSap_hg38_fair+new_CAGE_peaks_phase1and2.anno.bed'
    ref_enh          = '/storage/home/rbonnal/projects/ReapTEC_PaganiLab/Ref/homSap_hg38_permissive_enhancer.bed'
    enhancers_mask   = '/storage/home/rbonnal/projects/ReapTEC_PaganiLab/Ref/gencode.v34.transcript.ptrcoding.300bpslop.mask.bed'
    enhancers_prefix = 'NfAutoTestEnhancers'


    // Genome references
    genome = 'GRCh38'
}

process {

    withName: 'GET_WHITELIST' {
        container = '/storage/data/MAP/hpcapps/opt/bioinformatics/map/wf/nf-core-reaptec/nf-core-reaptec_t0-0-3.sif'
    }
    
    withName: 'UMITOOLS_EXTRACT' {
    	container = '/storage/data/MAP/hpcapps/opt/bioinformatics/map/wf/nf-core-reaptec/nf-core-reaptec_t0-0-3.sif'
    }

    withName: 'CUTADAPT' {
    	container = '/storage/data/MAP/hpcapps/opt/bioinformatics/map/wf/nf-core-reaptec/nf-core-reaptec_t0-0-3.sif'
    }
    withName: 'STAR_GENOMEGENERATE' {
    	container = '/storage/data/MAP/hpcapps/opt/bioinformatics/map/wf/nf-core-reaptec/nf-core-reaptec_t0-0-3.sif'
    }
    withName: 'STAR_ALIGN' {
    	container = '/storage/data/MAP/hpcapps/opt/bioinformatics/map/wf/nf-core-reaptec/nf-core-reaptec_t0-0-3.sif'
    }
    withName: 'SAMTOOLS_INDEX' {
    	container = '/storage/data/MAP/hpcapps/opt/bioinformatics/map/wf/nf-core-reaptec/nf-core-reaptec_t0-0-3.sif'
    }
    withName: 'UMITOOLS_DEDUP' {
    	container = '/storage/data/MAP/hpcapps/opt/bioinformatics/map/wf/nf-core-reaptec/nf-core-reaptec_t0-0-3.sif'
    }
    withName: 'UNENCODED_G' {
    	container = '/storage/data/MAP/hpcapps/opt/bioinformatics/map/wf/nf-core-reaptec/nf-core-reaptec_t0-0-3.sif'
    }
    withName: 'BAM_TO_CTSS' {
        container = '/storage/data/MAP/hpcapps/opt/bioinformatics/map/wf/nf-core-reaptec/nf-core-reaptec_t0-0-3.sif'
    }
    withName: 'CALL_ENHANCERS' {
        container = '/storage/data/MAP/hpcapps/opt/bioinformatics/map/wf/nf-core-reaptec/nf-core-reaptec_t0-0-3.sif'
    }

}